<!-- Flash messages -->

<% if (flashMessages.info) for (let msg of flashMessages.info) { %>
    <div class="flash-info" hidden><%=msg%></div>
<% } %>

<% if (flashMessages.error) for (let msg of flashMessages.error) { %>
    <div class="flash-error" hidden><%=msg%></div>
<% } %>

<!-- Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- Auto-initialize Materialize elements (Note - more specific initialization may be required for certain elements)-->
<script src="/scripts/materializeAutoInit.js"></script>

<script src="/scripts/confirmSubmit.js"></script>

<script src="/scripts/flashMessageToast.js"></script>

