<!DOCTYPE html>
<html lang="en">
<% var viewDirRoot = './'; %>

<head>
    <%- include(viewDirRoot + 'partials/stdhead') %>


</head>

<body>
    
    <%- include(viewDirRoot + 'partials/navbar') %>

    <!-- Actual page content! -->
    <div class="container">
        <h1>Welcome!</h1>
        <h2>Let's manage your live music.</h1>
        <div>
            <a class="blue btn" href="/song">
                <i class="material-icons left">library_music</i> Manage your songs!
            </a>
            <a class="green btn" href="/setlist">
                <i class="material-icons left">queue_music</i> Manage your setlists!
            </a>
            <a class="orange btn" href="/band">
                <i class="material-icons left">people</i> Manage your bands!
            </a>
        </div>
    </div>

    <%- include(viewDirRoot + 'partials/stdfoot') %>

</body>

</html>