<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/stdhead') %>


</head>

<body>
    
    <%- include('partials/navbar') %>

    <!-- Actual page content! -->
    <div class="container">
        <h1>Welcome!</h1>
        <h2>Let's manage your songs and setlists.</h1>
        <div>
            <a class="green btn" href="/sets">
                <i class="material-icons left">queue_music</i> See your setlists!
            </a>
            <a class="blue btn" href="/songs">
                <i class="material-icons left">library_music</i> See your songs!
            </a>
        </div>
    </div>

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Auto-initialize Materialize elements (Note - more specific initialization may be required for certain elements)-->
    <script src="/scripts/materializeAutoInit.js"></script>

</body>

</html>