<!DOCTYPE html>
<html lang="en">
<% var viewDirRoot = './'; %>

<head>
    <%- include(viewDirRoot + 'partials/stdhead') %>


</head>

<body>
    
    <%- include(viewDirRoot + 'partials/navbar') %>

    <!-- Actual page content! -->
    <div class="container">
        <h1>Welcome to SongSets!</h1>
        <h2>This is an app for tracking and managing setlists of your live music performances.</h1>
        <p class="flow-text">
            Whether you're playing stadiums, bars, church services, or street corners, 
            it's hard to keep track of all the songs you've played across all
            your live sets with your band - or band<strong><em>s</em></strong>.
        </p>

        <p class="flow-text">
            <strong><a href="/login"> Log in </a></strong> and start organizing all your bands'
            songs and setlists, together with all your bandmates.
        </p>

    </div>

    <%- include(viewDirRoot + 'partials/stdfoot') %>

</body>

</html>