#setlist-songs li#empty-message {
    display: none;
}
#setlist-songs li#empty-message:only-child {
    display: inline;
}


#setlist-songs input[type='text'].song-note {
    display: inline;
    margin: 0; 
    padding: 0;
    font-size: inherit;
    border-bottom: none;
    font-style:italic;
    width: 100%;
}

#setlist-songs input[type='text'].song-note:placeholder {
    width: 10%;
}

#setlist-songs .ch-content {
    width: 100%;
}

#setlist-songs {
    padding-left: 0;
}